.App {
  text-align: center;
}

.Jumbotron {
  margin-bottom: 0;
  padding: 120px 0 120px 0;
  background-size: 100% 100%;
}

.InfoGroup {
  padding: 70px 0 70px 0;
}

.InfoGroup .container{
  display: inline-flex;
  justify-content: space-between;
}

.Info {
  max-width: 320px;
}

.Info i {
  font-size: 45px;
  color: #007bff;
}

.JigSaw .showcase-text {
  padding: 70px;
}

.AvatarGroup {
  display: flex;
  justify-content: space-between;
}

.Avatar img {
  border-radius: 100%;
  box-shadow: #000 0px 0px 10px;
  width: 192px;
  height: 192px;
}

.Avatar p {
  max-width: 192px;
}